h1 {    
	font-size: 40px;
    color: #0de6b4;
    margin-left: 294px;
    font-family: cursive;
}
body {

    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(RDbJ5z.jpg);
    opacity: 1;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.logo img{
	border:1px solid #ddd;
	border-radius:60px;
	margin-left:20px;
	padding:2px;
	width:60px;
	height:auto;
	float:left;
	margin-top:5px;

}
}
img {
  max-width: 100%;
  height: auto;
}
#container{
	width: 400px;
    margin: 0 auto;
    margin-left: 195px;
    margin-top: 50px;
    border: 1px solid #81a7ad;
    padding: 50px 29px 50px 20px;
    background-color: #2d3a3c00;
}
#add-task {
	    width: 100%;
    height: 30px;
    border: 1px solid #8724d2;
    padding-left: 10px;
    background-color: #f0f3ffad;
    font-family: cursive;
    font-size: medium;
    color: #9c27b0;
}
}
#list {
	list-style: none;
	padding-left: 0;
	margin-top: 20px;
}
#list li{
	margin:10px 0;
	padding:5px 0;
}
#list li:hover {
	background-color: #f1f1f1;

}
label {
    cursor: default;
    color: #65ff04;
}